.menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.menuItem {
  font-weight: 600;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
}
.menuItem.active {
  border-color: var(--color-pink);
}
