/* Global */
.header {
  padding: 16px 0;
}

.content {
  max-width: 1024px;
  padding: 0 32px;
  margin: 0 auto;
}

.intro {
  max-width: 640px;
  margin: 0 auto;
  padding: 128px 0;
  text-align: center;
}

.main {
  padding: 0 0 64px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

@media only screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 0 16px;
  }

  .intro {
    padding: 64px 0;
  }

  .main {
    padding: 0 0 16px;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
