:root {
  font-family: 'Lato', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-green: #528351;
  --color-orange: #ff8c5f;
  --color-pink: #fbb7b1;
  --color-cream: #f9f4e4;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.text-xl {
  font-size: 80px;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

.text-lg {
  font-size: 28px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.text-base {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

ul,
li {
  all: unset;
}
