:root {
  font-family: 'Lato', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-green: #528351;
  --color-orange: #ff8c5f;
  --color-pink: #fbb7b1;
  --color-cream: #f9f4e4;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.text-xl {
  font-size: 96px;
  line-height: 1;
  margin: 0;
}

.text-lg {
  font-size: 32px;
  line-height: 1;
  margin: 0;
}

.text-md {
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

.text-base {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.text-sm {
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.font-heavy {
  font-weight: 900;
}

ul,
li {
  all: unset;
}
